<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Infa-Mon</title>
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

</head>

<body>
  <!--<input type="text" placeholder="Search...">
  <input id="cc" class="easyui-combobox" name="dept" data-options="valueField:'id',textField:'text',url:'test_data1.json'">
  <h2>Informatica Objects Tree</h2>
  <div style="margin:20px 0;"></div>
  <div style="width: 512px; left: 0px; top: 66px;" class="panel layout-panel layout-panel-west layout-split-west easyui-fluid">
    <div style="width: 507px;" class="panel-header">
      <div class="panel-title">Plugins</div>

      <div class="panel-tool">
        <a style="display: none;" class="panel-tool-collapse" href="javascript:void(0)"></a>
        <a class="layout-button-left" href="javascript:void(0)"></a>
      </div>
    </div>
    <div class="panel-body layout-body" region="west" split="true" title="" style="padding: 5px; width: 507px; height: 849px;">

      <ul id='object-tree' class="easyui-tree">
        <li id='f-folders' data-options="state:'closed'">
          <span>SOR_BLUEBOX</span>
          <ul>
            <li id='f-sources' data-options="state:'closed'">
              <span>Sources</span>
              <ul>
                <li>TABLE1</li>
                <li>TABLE2</li>
                <li>TABLE3</li>
                <li>TABLE4</li>
              </ul>
            </li>
            <li id='f-targets' data-options="state:'closed'">
              <span>Targets</span>
              <ul>
                <li>TABLE1</li>
                <li>TABLE2</li>
                <li>TABLE3</li>
                <li>TABLE4</li>
              </ul>
            </li>
            <li id='f-mappings' data-options="state:'closed'">
              <span>Mappings</span>
              <ul>
                <li>m_baw_target</li>
                <li>m_baw_target2</li>
                <li>m_baw_target23</li>
              </ul>
            </li>
            <li id='f-sessions' data-options="state:'closed'">
              <span>Sessions</span>
              <ul>
                <li>s_baw_target</li>
                <li>s_baw_target2</li>
                <li>s_baw_target23</li>
              </ul>
            </li>
            <li id='f-workflows' data-options="state:'closed'">
              <span>Workflows</span>
              <ul>
                <li>w_baw_target</li>
                <li>w_baw_target2</li>
                <li>w_baw_target23</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul id='object-tree2' class="easyui-tree" data-options="url:'object_tree.json'"></ul>
    </div>
  </div>
  <div class="panel layout-panel layout-panel-center" data-options="collapsible:true,right:1">
    <div style="width: 2048px; height: 877px;" class="panel-body panel-body-noheader layout-body panel-noscroll" title="" region="center">
    </div>
  </div>-->

  <h2>Infa-Mon</h2>
  
  <div style="margin:20px 0;">
    <a href="#" class="easyui-linkbutton" onclick="collapseAll()">CollapseAll</a>
    <a href="#" class="easyui-linkbutton" onclick="expandAll()">ExpandAll</a>
    <a href="#" class="easyui-linkbutton" onclick="expandTo()">ExpandTo</a>
    <a href="#" class="easyui-linkbutton" onclick="getSelected()">GetSelected</a>
  </div>
  <!--<div class="easyui-panel" title="Nested Panel" style="width:700px;height:200px;padding:10px;">-->
  <div id="panel1" class="easyui-panel" title="Informatica Objects" style="padding:10px;height:600px" data-options="
                tools:[{
                    iconCls:'icon-reload',
                    handler:function(){
                        $('#panel1').panel('refresh', '_content.html');
                    }
                }]
            ">
    <div class="easyui-layout" data-options="fit:true">
      <div data-options="region:'west',split:true" style="width:30%;max-width:400px;padding:10px">
        <input type="text" placeholder="Search...">
        <ul id='object-tree' class="easyui-tree" data-options="lines:true,                    formatter:function(node){
                        var s = node.text;
                        if (node.children /*&& node.parent.text != 'DEV'*/){
                            s += '&nbsp;<span style=\'color:blue\'>(' + node.children.length + ')</span>';
                        }
                        return s;
                    }">
          <li id='f-folders' data-options="state:'closed'">
            <span>SOR_BLUEBOX</span>
            <ul>
              <li id='f-sources' data-options="state:'closed'">
                <span>Sources</span>
                <ul>
                  <li>TABLE1</li>
                  <li>TABLE2</li>
                  <li>TABLE3</li>
                  <li>TABLE4</li>
                </ul>
              </li>
              <li id='f-targets' data-options="state:'closed'">
                <span>Targets</span>
                <ul>
                  <li>TABLE1</li>
                  <li>TABLE2</li>
                  <li>TABLE3</li>
                  <li>TABLE4</li>
                </ul>
              </li>
              <li id='f-mappings' data-options="state:'closed'">
                <span>Mappings</span>
                <ul>
                  <li>m_baw_target</li>
                  <li>m_baw_target2</li>
                  <li>m_baw_target23</li>
                </ul>
              </li>
              <li id='f-sessions' data-options="state:'closed'">
                <span>Sessions</span>
                <ul>
                  <li>s_baw_target</li>
                  <li>s_baw_target2</li>
                  <li>s_baw_target23</li>
                </ul>
              </li>
              <li id='f-workflows' data-options="state:'closed'">
                <span>Workflows</span>
                <ul>
                  <li>w_baw_target</li>
                  <li>w_baw_target2</li>
                  <li>w_baw_target23</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul id='object-tree2' class="easyui-tree" data-options="url:'object_tree.json',lines:true,                    formatter:function(node){
                        var s = node.text;
                        if (node.children /*&& node.parent.text != 'DEV'*/){
                            s += '&nbsp;<span style=\'color:blue\'>(' + node.children.length + ')</span>';
                        }
                        return s;
                    }"></ul>
      </div>
      <div id="tt" class="easyui-tabs" style="width:500px;height:250px;" data-options="region:'center',tools:'#tab-tools'">
        <div title="Tab1" style="padding:20px;display:none;">
          tab1
        </div>
        <div title="Tab2" data-options="closable:true" style="overflow:auto;padding:20px;display:none;">
          tab2
        </div>
        <div title="Tab3" data-options="iconCls:'icon-reload',closable:true" style="display:none;">
          tab3
        </div>
      </div>
      <div id="tab-tools">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="addPanel()"></a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="removePanel()"></a>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/loader.js') }}"></script>

</body>

</html>